# Ignore Terraform state files
*.tfstate
*.tfstate.backup

# Ignore Terraform lock file
.terraform.lock.hcl

# Ignore Terraform plugin directory
.terraform/



# Terraform-related
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
crash.log
